#!/bin/bash

set -eufo pipefail

{{ $plugins := list
     "hyper-highlight-active-pane"
     "hyper-night-owl"
     "hyper-pane" -}}

{{ range ($plugins | sortAlpha | uniq) -}}
hyper install "{{ . }}"
{{ end -}}
