{{- $name := "Steffen Schmidt" -}}
{{- $email := "git@brombeersaft.com" -}}
{{- $github_user := "stsmdt" -}}

{{- if (env "ASK") }}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{- end }}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github_user = {{ $github_user | quote }}
    zshPlugins = [
{{ if eq .chezmoi.os "darwin" }}
        "brew",
{{ end -}}
        "git",
        "golang",
        "per-directory-history",
        "sudo",
        "zsh-syntax-highlighting",
    ]
