[user]
	name = {{ .name }}
	email = {{ .email }}
[init]
	defaultBranch = main
[core]
	editor = vim
[help]
	autocorrect = 20
[color]
	ui = true
[pull]
	rebase = true

[url "ssh://git@github.com/{{ .github_user }}"]
	insteadOf = https://github.com/{{ .github_user }}
